[mysql]
port=3306
default-character-set=utf8mb4

[mysqld]
bind_address=0.0.0.0
user=mysql
datadir=/var/lib/mysql/data
log-bin=/var/lib/mysql/log/mysql-bin
socket=/var/lib/mysql/mysql.sock
slow_query_log_file=/var/lib/mysql/log/slow.log
log-error=/var/lib/mysql/log/mysqld.log
pid-file=/var/lib/mysql/mysqld.pid

default-time_zone='+8:00'
log_timestamps=SYSTEM

default-storage-engine=InnoDB  
federated
character-set-server=utf8mb4
skip-external-locking
bulk_insert_buffer_size=128M

back_log=1024
symbolic-links=0
join_buffer_size=128M
table_definition_cache=1024
table_open_cache_instances=64

log_bin_trust_function_creators=1
skip-name-resolve=1
lower_case_table_names=1
sql-mode="STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION"

thread_cache_size=8
thread_stack=512K
external-locking=FALSE

query_cache_size=256M
query_cache_limit=8M

max_connections=2048
max_connect_errors=500

interactive_timeout=28800
wait_timeout=28800
lock_wait_timeout=120
explicit_defaults_for_timestamp=1

general_log=1
log_output=TABLE
sync_binlog=1
binlog_cache_size=4M
max_binlog_cache_size=128M
max_binlog_size=128M
log_warnings

master_info_repository=TABLE
relay_log_info_repository=TABLE
gtid_mode=on
enforce_gtid_consistency=1
binlog_format=row
relay_log_recovery=1
relay-log-purge=1

slow_query_log=1

max_allowed_packet=32M
max_heap_table_size=128M

tmp_table_size=64M
max_heap_table_size=32M
key_buffer_size=32M
read_buffer_size=8M

default-storage-engine=INNODB
transaction_isolation=REPEATABLE-READ

server-id=1

innodb_sync_spin_loops=100
innodb_spin_wait_delay=30

innodb_write_io_threads=4
innodb_read_io_threads=4
innodb_thread_concurrency=8
innodb_flush_log_at_trx_commit=1
innodb_buffer_pool_size=1G
innodb_data_file_path=ibdata1:256M:autoextend
innodb_buffer_pool_instances=8
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_at_shutdown=1
innodb_flush_log_at_trx_commit=1

innodb_log_file_size=512M
innodb_log_buffer_size=128M
innodb_purge_threads=4
innodb_page_cleaners=4
innodb_open_files=65000
innodb_max_dirty_pages_pct=90
innodb_log_files_in_group=3
innodb_lock_wait_timeout=120
innodb_max_undo_log_size=128M

[mysqldump]
quick
max_allowed_packet=32M

[mysql]
no-auto-rehash

[myisamchk]
key_buffer_size=128M
sort_buffer_size=128M
read_buffer=32M
write_buffer=32M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit=65535
