[mysql]
port=3306
default-character-set=utf8mb4
no-auto-rehash

[mysqld]
user=mysql
datadir=/var/lib/mysql/data
log-bin=/var/lib/mysql/log/mysql-bin
socket=/var/lib/mysql/mysql.sock
slow_query_log_file=/var/lib/mysql/log/slow.log
log-error=/var/lib/mysql/log/mysqld.log
pid-file=/var/lib/mysql/mysqld.pid

default-time_zone='+8:00'
log_timestamps=SYSTEM
lower_case_table_names = 1

default-storage-engine=InnoDB  
federated
character-set-server=utf8mb4
bulk_insert_buffer_size=128M

group_concat_max_len=10240
back_log=1024
symbolic-links=0
key_buffer_size=64M
join_buffer_size=128M
sort_buffer_size = 32M
read_buffer_size = 32M
table_definition_cache=1024
table_open_cache_instances=64

log_bin_trust_function_creators=1
skip-name-resolve=0

thread_cache_size=8
thread_stack=512K

max_connections=4096
max_connect_errors=2000

interactive_timeout=86400
wait_timeout=86400
lock_wait_timeout=300
explicit_defaults_for_timestamp=1

general_log=0
log_output=FILE
sync_binlog=1
binlog_cache_size=4M
max_binlog_cache_size=1024M
max_binlog_size=1024M

gtid_mode=on
enforce_gtid_consistency=1
relay_log_recovery=1
relay-log-purge=1
slow_query_log=1
long_query_time=1

max_allowed_packet=128M
max_heap_table_size=512M
tmp_table_size=512M

transaction_isolation=REPEATABLE-READ

server-id=1

innodb_force_recovery=0

innodb_sync_spin_loops=100
innodb_spin_wait_delay=30

innodb_write_io_threads=16
innodb_read_io_threads=16
innodb_thread_concurrency=8
innodb_flush_log_at_trx_commit=2
innodb_buffer_pool_size=1G
innodb_data_file_path=ibdata1:256M:autoextend:max:4G
innodb_temp_data_file_path = ibtmp1:128M:autoextend:max:4G
innodb_buffer_pool_instances=8
innodb_buffer_pool_load_at_startup=1
innodb_buffer_pool_dump_at_shutdown=1

innodb_purge_threads=8
innodb_page_cleaners=8
innodb_open_files=65000
innodb_max_dirty_pages_pct=90
innodb_lock_wait_timeout=120
innodb_max_undo_log_size=128M
innodb_lru_scan_depth=256

[mysqldump]
quick
max_allowed_packet=32M

[myisamchk]
key_buffer_size=128M
sort_buffer_size=128M
read_buffer=32M
write_buffer=32M

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit=65535
